
body {
    font-family: Arial, sans-serif;
    background-color: #c2883de3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b1c1eec;
}


form {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 3px;
    color: #666;
 
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="submit"] {
    width: 55%;
    padding: 10px;
    margin-bottom: 9px;
    border: 1px solid #ccc;
    border-radius: px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
